/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	// font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	// list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

 body {
    font-family: -apple-system,system-ui,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

 .quora-page {
    //  position: relative;
     display: flex;
     height: auto;
     width: auto;
     flex-direction: column;
     background-color: rgba($color: rgb(231, 229, 229), $alpha: 1.0);
    //  z-index: 30;
 }


 .main-row {
     display: flex;
     justify-content: center;
     margin-top: 51px;
     background-color: rgba($color: #F7F7F8, $alpha: 1.0);
 }

 .topics-column {
     display: flex;
     flex-direction: column;
     margin-top: 31px;
     margin-right: 30px;
     color: rgba($color: #666666, $alpha: 1.0);
     font-size: 13px;
    //  text-decoration: none;
 }

 .topics-column-title {
     font-size: 16px;
     border-bottom: 1px solid lightgrey;
     padding-bottom: 3px;
     margin-bottom: 5px;
 }
 
 .topic-column-link {
    // text-decoration: none;
    color: rgba($color: #666666, $alpha: 1.0);
    font-size: 15px;
    margin-bottom: 18px;
 }

 .topic-column-link:hover{
     color: rgba($color: #3E78AD, $alpha: 1.0);
 }

 @keyframes modal-bg-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

 .modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
    animation-name: modal-bg-fade-in;
    animation-duration: 0.5s;
  }
  
  .modal-child {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .index-box {
      display: flex;
      background-color: rgba($color: #F7F7F8, $alpha: 1.0);
      flex-direction: column;
      min-height: 100vh;
      min-width: 682px;
  }

  .index-topic-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 610px;
    height: 30px;
    padding: 16px;
    padding-top: 8px;
    padding-bottom: 11px;
    margin: 20px;
    background-color: rgba($color: #FAFAFA, $alpha: 1.0);
    border: 1px solid lightgray;
    border-bottom: 1px solid rgb(184, 183, 183);
    border-radius: 5px;
    list-style: none;
    font-size: 23px;
    font-weight: bold;
  }

  .index-item {
      display: flex;
      flex-direction: column;
      width: 600px;
      min-height: 125px;
      padding: 20px;
      margin: 20px;
      background-color: rgba($color: #FAFAFA, $alpha: 1.0);
      border: 1px solid lightgray;
      border-bottom: 1px solid rgb(184, 183, 183);
      border-radius: 5px;
      list-style: none;
      font-size: 13px;
  }

  .question-prompt {
    display: flex;
    flex-direction: column;
    width: 610px;
    height: 47px;
    padding: 16px;
    padding-top:11px;
    padding-bottom: 22px;
    margin: 20px;
    background-color: rgba($color: #FAFAFA, $alpha: 1.0);
    border: 1px solid lightgray;
    border-bottom: 1px solid rgb(184, 183, 183);
    border-radius: 5px;
    list-style: none;
    font-size: 13px;
  }

  .prompt-profile-row {
      display: flex;
      align-items: center;
      font-size: 15px;
      color: rgba($color: #939598, $alpha: 1.0);
      margin-bottom: 8px;
  }

  .prompt-text {
      font-size: 18px;
      font-weight: bold;
      color: rgba($color: #666666, $alpha: 1.0)
  }

  .question-prompt:hover {
      cursor: pointer;
  }

  .index-item-note {
    color: rgba($color: #949494, $alpha: 1.0);
  }

  .index-item-title {
      margin-top: 10px;
      color: rgba($color: #333333, $alpha: 1.0);
      font-size: 20px;
      font-weight: bold;
      padding-bottom: 5px;
      margin-bottom: 10px;
      border-bottom: 1px solid lightgrey;
  }

  .index-item-title:hover {
      text-decoration: underline !important;
  }

  .answer-detail-i {
    display: flex;
    flex-direction: column;
    padding-left: 8px;
}

.answer-profile-row-i {
    display: flex;
    align-items: center;
    font-size: 15px;
    color: rgba($color: #333333, $alpha: 1.0);
    padding-bottom: 5px;
}

.answer-profile-row-i img {
    padding-left: 0px;
}

.answer-date-i {
    font-size: 13px;
    color: rgba($color: #949494, $alpha: 1.0);
    padding-bottom: 8px;
}

.answer-body-i {
    font-size: 15px;
    line-height: 1.4;
    white-space: pre-wrap;

    img {
        max-width: 600px;
        // max-height: 300px;
    }
}


//   .test-topic-head {
//       margin-top: 100px;
//   }

  //FAFAFA for v light
  //dfdfdf for nice gray
  //666666 for gray text color
  //#3E78AD for blue
  //329bff pretty blue