/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
    font-family: 'Abel', sans-serif;
  }

 .login-form-container {
     height: 750px;
     background-image: image-url("30dogs.jpg");
     background-color: chocolate;
     display: flex;
     /* outline: 1px solid black; */
     align-items: center;
     justify-content: center;
     flex-direction: column;
 }

 .session-form {
    background-color: white;
     /* display: flex; */
     height: 200px;
     width: 149px;
     border-left: 1px solid gray;
     /* justify-content: center;
     align-items: center; */
     padding: 30px;
     padding-left: 60px;
     padding-right: 61px;
     /* border-radius: 10px */
 }

 .session-row {
     width: auto;
     height: auto;
     display: flex;
     /* border-radius: 5px; */
 }

 .submit-button {
     background-color: darkcyan;
     color: white
 }

 .submit-button:hover {
     cursor: pointer;
 }

 .title-row {
     display: flex;
     color: maroon;
     background-color: white;
     width: 540px;
     justify-content: center;
     margin: 0px;
 }

 .quora-page {
     display: flex;
     height: auto;
     width: auto;
     flex-direction: column;
 }

 .navbar-row{
     display: flex;
     width: auto;
     height: 51px;
     background-color: tan;
     border-bottom: 1px solid gray;
     justify-content: space-around;
 }

 .modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
  }
  
  .modal-child {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .question-form {
      display: flex;
      flex-direction: column;
      height: 395px;
      width: 620px;
      background-color: white;
      border-radius: 10px;
      padding: 15px;
  }

  .hint-box {
    display: flex;
    flex-direction: column;
    color: rgba(40, 110, 241, 1);
    background-color: rgba(233, 241, 254, 1);
    padding: '20px';
  }

  .login-error-bar {
      width: 540px;
      height: 40px;
      margin: 0;
      padding: 0;
      background-color: white;
  }