/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
    font-family: 'Abel', sans-serif;
  }

 .login-form-container {
     height: 750px;
     background-image: url("30dogs.jpg");
     background-color: chocolate;
     display: flex;
     outline: 1px solid black;
     align-items: center;
     justify-content: center;
     flex-direction: column;
 }

 .session-form {
    background-color: white;
     /* display: flex; */
     height: 200px;
     width: 150px;
     border-left: 1px solid gray;
     /* justify-content: center;
     align-items: center; */
     padding: 30px;
     padding-left: 60px;
     padding-right: 60px;
 }

 .session-row {
     width: auto;
     height: auto;
     display: flex;
     border-radius: 5px;
 }

 .submit-button {
     background-color: darkcyan;
     color: white
 }

 .submit-button:hover {
     cursor: pointer;
 }

 .title-row {
     display: flex;
     color: maroon;
     background-color: white;
     width: 540px;
     justify-content: center;
     margin: 0px;
 }