
 .navbar-row{
    display: flex;
    position: fixed;
    top: 0;
    left: 0; 
    right: 0;
    height: 51px;
    border-bottom: 1px solid gray;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: #FAFAFA, $alpha: 1.0);
    z-index: 80;
}

.navbar-logo {
    text-decoration: none;
    font-family: 'Libre Baskerville', sans-serif;
    color: rgba($color: #b62e2e, $alpha: 1.0);
    font-weight: bold;
    font-size: 25px;
    margin-right: 10px;
}

.navbar-item {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 83px;
    font-family: -apple-system,system-ui,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    color: rgba($color: #666666, $alpha: 1.0);
    text-decoration: none;
    padding: 0px 5px;
}

.search-container {
   display: inline-flex;
   align-items: center;
   position: relative;
   border: 1px solid #ccc;
   border-radius: 5px;
//    overflow: hidden;
   font-size: 14px;
   color: rgba($color: #666666, $alpha: 1.0);
   margin: 0px 14px;
   z-index: 90;
}

.search-bar{
    position: relative;
    z-index: 100;
}

@keyframes dropdown-slideup {
    0% {
        opacity: 0;
        top: 75px;
    }
    100% {
        opacity: 1;
        top: 45px;
    }
}

.search-list {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 45px;
    left: 3px;
    width: 300px;
    height: min-content;
    background-color: rgba($color: #FAFAFA, $alpha: 1.0);
    color: rgba($color: #333333, $alpha: 1.0);
    // border: 1px solid lightgrey;
    border-radius: 2px;
    z-index: 1000;
    font-size: 16px;
    animation-name: dropdown-slideup;
    animation-duration: 0.5s;
}

.search-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    border-top: 1px solid #a09d9d;
    border-right: 1px solid #a09d9d;
    border-left: 1px solid #a09d9d;
    text-decoration: none;
    color: rgba($color: #333333, $alpha: 1.0);
    padding-left: 15px;
    padding-right: 15px;
    // border-radius: 2px;
}

.search-item-question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    border-top: 1px solid #a09d9d;
    border-right: 1px solid #a09d9d;
    border-left: 1px solid #a09d9d;
    text-decoration: none;
    color: rgba($color: #3E78AD, $alpha: 1.0);
    background-color: rgba($color: #dad6d6, $alpha: 1.0);
    padding-left: 15px;
    padding-right: 15px;
}

.search-text {
    text-decoration: none;
    // color: rgba($color: #333333, $alpha: 1.0);
}

.search-text:visited {
    color: inherit;
}

.search-text:hover {
    color: rgba($color: #3E78AD, $alpha: 1.0);
}

.search-item-question:hover {
    background-color: rgba($color: #a09d9d, $alpha: 1.0);
    cursor: pointer;
    border-right: none;
    border-left: none;
}

.search-item:hover {
    background-color: rgba($color: #a09d9d, $alpha: 1.0);
    color: rgba($color: #3E78AD, $alpha: 1.0);
    cursor: pointer;
    border-right: none;
    border-left: none;
}

.nav-search {
    width: 290px;
    height: 27px;
    border: 0;
    font-size: 14px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.nav-search:focus {
    outline-style: none;
}

.fa-search {
    padding: 2px;
    padding-left: 5px;
}

.profile-icon {
    height: 26px;
    width: 26px;
    padding: 0px 14px;
}

.profile-icon-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: rgba($color: #FAFAFA, $alpha: 1.0);
    border-radius: 50%;
    margin-right: 5px;
    width: 28px;
    height: 28px;
}

.navbar-icon-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: rgba($color: #FAFAFA, $alpha: 1.0);
    border-radius: 50%;
    margin-right: 5px;
    width: 28px;
    height: 28px;
}

.profile-icon-circle:hover {
    cursor: default;
}

.profile-display {
    cursor: pointer;
}

.profile-icon:hover {
    cursor: pointer;
}

.question-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28px;
    width: 105px;
    background-color: rgba($color: #B92B27, $alpha: 1.0);
    font-family: -apple-system,system-ui,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: white;
    border-radius: 4px;
    margin-left: 8px;
}

.question-button:hover {
    cursor: pointer;
}