.question-show-page {
    // position: relative;
    margin-top: 51px;
    display: flex;
    justify-content: center;
    background-color: rgba($color: #FFFFFF, $alpha: 1.0);
    // z-index: 70
}

.question-column {
    display: flex;
    flex-direction: column;
    width: 600px;
    padding: 32px;
}

.question-title {
    font-size: 23px;
    color: rgba($color: #333333, $alpha: 1.0);
    font-weight: bold;
    line-height: 1.3;
    padding-bottom: 12px;
}

.question-answer-button {
    display: flex;
    width: 80px;
    height:30px;
    align-items: center;
    font-size: 17px;
    color: rgba($color: #666666, $alpha: 1.0);
    justify-content: space-between;
}

.question-answer-button:hover {
    cursor: pointer;
}

.answer-input-container {
    display: flex;
    flex-direction: column;
    min-height: 200px;
    width: 550px;
    border: 1px solid rgb(15, 15, 15);
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#editor {
    height:250px;
    width: inherit;
}

.submit-answer-button {
    display: flex;
    justify-content: center;
    background-color: rgba($color: #3E78AD, $alpha: 1.0);
    color: white;
    width: 56px;
    font-size: 14px;
    height: 29px;
    border: 1px solid rgba(45, 89, 129, 0.7);
    border-radius: 3px;
    margin: 3px;
}

.answer-username {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 40px;
    border-bottom: 1px solid lightgray;
    background-color: rgba($color: #dfdfdf, $alpha: 1.0);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.answer-textarea {
    width: 98%;
    height: 148px;
    padding: 16px 0px 12px 10px;
    border: none;
    resize: none;
    font-size: 15px;
    border-bottom: 1px solid lightgray;
}

.answer-textarea:focus {
    outline-style: none;
}

.answer-submit-row {
    display: flex;
    align-items: center;
    height: 30px;
    padding: 10px;
    background-color: rgba($color: #dfdfdf, $alpha: 1.0);
    border-bottom-left-radius:2px;
    border-bottom-right-radius: 2px;
}

.answer-count {
    color: rgba($color: #333333, $alpha: 1.0);
    font-size: 18px;
    padding: 12px 0px 32px 0px
}

.answer-detail {
    display: flex;
    flex-direction: column;
    border-top: 1px solid lightgray;
    padding: 12px 0 12px 0;
}

.answer-profile-row {
    display: flex;
    align-items: center;
    font-size: 17px;
    color: rgba($color: #333333, $alpha: 1.0);
    padding-bottom: 5px;
}

.answer-profile-row img {
    padding-left: 0px;
}

.answer-date {
    font-size: 13px;
    color: rgba($color: #949494, $alpha: 1.0);
    padding-bottom: 8px;
}

.answer-body {
    font-size: 16px;
    line-height: 1.4;
    white-space: pre-wrap;
}

.upvoted-button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    // padding-left: 5px;
    // padding-right: 5px;
    width: 120px;
    height: 32px;
    border-radius: 20px;
    font-size: 13;
    color: rgba($color: #329bff, $alpha: 1.0);
}

.upvoted-button:hover {
    background-color: #dfd9d9;
    cursor: pointer;
}

.upvoted-button p {
    color: #000000
}

.arrow-img {
    filter: invert(59%) sepia(65%) saturate(5443%) hue-rotate(196deg) brightness(111%) contrast(102%);
}

.other-questions-col {
    display: flex;
    flex-direction: column;
    width: 300px
}

.topics-row {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 30px;
    margin-bottom: 6px;
}

.topic-button {
    font-size: 13px;
    color: rgba($color: #666666, $alpha: 1.0);
    background-color: rgba($color: #dfdfdf, $alpha: 1.0);
    text-decoration: none;
    padding: 3px;
    margin-left: 10px;
    margin-right: 10px;
}

.topic-button:hover {
    color: rgba($color: #3E78AD, $alpha: 1.0)
}

// .answer-submit-button {
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     height: 30px;
    //     font-size: 13px;
    //     font-weight: 500;
    //     color: rgba($color: #FFFFFF, $alpha: 1.0);
    //     background-color: rgba($color: #3E78AD, $alpha: 1.0);
    //     border-radius: 3px;
    // }
    
    // .answer-submit-button:focus {
    //     outline-style: none;
    // }